@import "tailwindcss";

body {
  background-color: #FAF9F8;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  body * {
    visibility: hidden;
  }

  .no-print {
    display: none !important;
  }

  .printable-content,
  .printable-content * {
    visibility: visible;
  }

  .printable-content {
    position: absolute;
    top: 0;
    left: 18px;
    transform: scale(0.5);
    transform-origin: top left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Shrink the logical layout space to match the scaled size */
    max-height: calc(297mm / 0.64);
    max-width: calc(210mm / 0.64);
  }



  
}
