@import "tailwindcss";

@page {
  size: A3 portrait !important;
  margin: 0;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    accent-color: exact !important;
  }

  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  body * {
    visibility: hidden;
  }

  
  .printable-content,
  .printable-content * {
    visibility: visible;
  }

  .printable-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }

  .print-footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .no-print {
    display: none !important;
  }
}